:root{
  --dark-color: teal;
  --hover-color: #171717;
  --main-color: #f4f4f4
}

*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


.container{
  width: 80%;
  max-width: 1170px;
  margin: auto;
}

.ctn{
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--main-color);
  font-size: 20px;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 5px;
}

.ctn:hover{
  color: var(--hover-color);

}

.ctn-block{
  display: block;
  width: 100%;
}

/* Navbar styles*/
.navbar{
  padding: 0.3rem;
  background-color: var(--dark-color);
}

.navbar__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand a{
  font-size: 1.8rem;
  color: var(--main-color);
  text-decoration: none;
}

.nav__brand a:hover{
  color: var(--hover-color);
}

.nav__links{
  display: flex;
  list-style: none;
  align-items: center;
 
}

.links__link{
  padding: 1rem;
  

}

.links__link a{
  display: block;
  color: var(--main-color);
  font-size: 20px;
  text-decoration: none;
  border: 1px solid var(--dark-color);
}

.links__link a:hover{
  border-bottom: 1px solid var(--hover-color);
  color:var(--hover-color);
}

/* searchbar style*/

.searchbar{
  width: 100%;
  margin: 2rem 0;


}

.searchbar__form > input{
  width: 100%;
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  outline: 0ch;
  font-size: 16px;
  
  color: var(--dark-color);
}


.searchbar__form > input:focus{
  border: 1px solid var(--hover-color);
  box-shadow: 0 0 1px 1px rgba(60px, 48px, 39px, 0.5);
  font-size: 18px;
}

.alert{
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  margin: 1rem 0;
}

.alert-warning{
  background-color: rgb(248, 248, 136);
  border: 1px solid #b8de45;
}
.alert-danger {
  background-color:rgb(245, 226, 177);
  border: 1px solid red;
}
.alert-info {}

/*listItem*/

img{
  width: 210px;
  height: 295px;
}

.listItem{
  width: 210px ;
  background-color: var(--main-color);
  margin: 1rem auto;
  text-decoration: none;
  display: inline-block;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}



.listItem:hover{
  transform: scale(1.1);
}

.listItem__info{
  color: var(--dark-color);
  text-align: center;
}

.info__rating{
  color: #f89292;
  padding: 1rem 0;
}

.info__name{
  padding: 5px;
  font-size: 1rem 0;
}


/*HomePage*/

.listItem__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*show detail style*/

.showdetail{
  border: 1px solid var(--dark-color);
  min-width: 50%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 1.5rem;
   line-height: 1.5rem;
 
  
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.loading__showdetails{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.showdetail > img{
  height: 250px;
  width: 210px;
}

.showdetail__detail{
  border: 0px solid red;
  margin: 1rem auto;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5rem;
  
}

.detail__name{
  font-size: 20px;
  font-weight: lighter;
}

.detail__summary{
  
  margin-top: 0.4rem;

}

.detail__genre{
  display: inline-block;
  margin-left: 0.4rem;
}

.detail__official{
  font-size: 16px;
  /* margin-top: 9px; */
  
}

.detail__official > a.live{
  background-color: red;
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  
}
.about{
  width: 200px;
  margin: 2rem auto;
}


/*Media Queries section*/

@media only screen and (max-width: 768px){
  .nav__brand a{
    font-size: 1rem;

  }

}